<div ng-include="'slider.html'"></div>
<br/>
<div class="container main-container">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">

              <!-- Categories -->
            
          <!-- End Categories -->

          <!-- Best Seller -->

                   <div class="col-lg-12 col-md-12 col-sm-6">
            <div class="no-padding">
                    <span class="title">PRODUCTS FILTER</span>
                  </div>
                    

    <span ng-repeat="category in cate"> 
 <a href="Women_dress.html" class="list-group-item">Dresss</a>
  <a href="Footwear.html" class="list-group-item">Footwear</a>
    </span>    
          </div>

          <div class="col-lg-12 col-md-12 col-sm-6">
          <!--   <div class="no-padding">
                    <span class="title">BEST SELLER</span>
                  </div>-->
               <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Category</button>
                       <div class="hero-feature hidden-sm leftscroll" <span  id="demo" class="collapse" >
                          
                               <div ng-repeat="cat in getCategories()">
                                
        <input type="checkbox" ng-model="filter[cat]" /> {{cat }}
      </span>
    </div>
                        </div>

                             <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#Brand">Brand</button>
                       <div class="hero-feature hidden-sm leftscroll" <span  id="Brand" class="collapse" >
                          
                               <div ng-repeat="brand in getbrand()">
                                
        <input type="checkbox" ng-model="filter1[brand]" /> {{brand }}
      </span>
    </div>
                        </div>

                        
          </div>
             <div class="col-lg-12 col-md-12 col-sm-6">
                
             </div>
          <!-- End Best Seller -->

            </div>

            <div class="clearfix visible-sm"></div>

        <!-- Catalogue -->
            <div class="col-lg-9 col-md-9 col-sm-12" >
              <div class="col-lg-12 col-sm-12">
                  <span class="title">PRODUCTS CATALOGUE</span>
                </div>
               

              
    <form class="form-inline">
  

              
       <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="margin-bottom: 10px;">

  <input ng-model="query" type="text"
        placeholder="Filter by" autofocus class="form-control input-lg"/>
</div>

    </form>
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <loading></loading>
              
        </div>

                



            <div infinite-scroll="getMoreData()" >
<span ng-repeat="x in filtered=(data | filter:filterBybrand  | filter:filterByCategory )   | limitTo:totalDisplayed |filter:query | orderBy :offerPrice">
  <div class="col-lg-4 col-sm-4 hero-feature text-center">
     <div class="thumbnail item">
                                    <a href="{{x.link}}" target="_blank" class="link-p" style="overflow: hidden; position: relative;">
                                <img src="{{x.imageLink}}" alt="" style="position: absolute; width: 250px; height: auto; max-width: none; max-height: none; left: -4px; top: 0px;">
                            </a>                            
                            <div class="caption prod-caption">
                                <h4>
                                <a class="link-p" style="overflow: hidden; position: relative;" href='{{x.link}}' target=_blank>{{x.title}}</a></h4>
                                <p></p>
                                <p>
                                    </p><div class="btn-group">
                                     
                                        <span class="btn strikethrough">Rs {{x.mrp}}</span>
                                           <a href="#" class="btn btn-default">Rs {{x.offerPrice}}</a>
                                        <a href="{{x.link}}" target="_blank" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                                    </div>
                                <p></p>
                            </div>
                        </div>
   </div>
                        

  </span>

</div>


        </div>
                  </div>
    </div>