

 <div class="container main-container">
          <div class="row">
          

            <div class="clearfix visible-sm"></div>

 <div class="col-lg-12 col-md-12 col-sm-12" >

<div class="text-center" >
        <h1 style="color :rgb(213, 8, 8)" >Welcome to Shopping Funnel</h1>

        
        <h2 style="color :rgb(213, 8, 8)">Online marketplace in India</h2>
    </div>
      <a ng-click=viewFilter() class="btn btn-info btn-Sm">
          

<span class="glyphicon glyphicon-filter">
</span> Filter
        </a>

<script charset="utf-8" type="text/javascript">
amzn_assoc_ad_type = "responsive_search_widget";
amzn_assoc_tracking_id = "shoppingfunne-21";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "IN";
amzn_assoc_placement = "";
amzn_assoc_search_type = "search_widget";
amzn_assoc_width = "auto";
amzn_assoc_height = "auto";
amzn_assoc_default_search_category = "";
amzn_assoc_default_search_key = "";
amzn_assoc_theme = "light";
amzn_assoc_bg_color = "FFFFFF";
</script>
<script src="//z-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=IN"></script>
          </div>
               

        <!-- Catalogue -->
            <div class="col-lg-12 col-md-12 col-sm-12" >
              <div class="col-lg-12 col-sm-12 text-center">
                  <span class="title">Deals of the Day</span>
                </div>
               

              
    <form class="form-inline">
  

              
       <div class="col-lg-9 col-md-9 col-sm-12">


</div>

    </form>
        <div class="col-lg-12 col-md-12 col-sm-12 ">
<div class="col-lg-4 col-sm-4" >

</div>
<div class="col-lg-4 col-sm-4 text-center" >
<loading></loading>
</div>
<div class="col-lg-4 col-sm-4" >

</div>

          <br/>
                <br/>

        </div>

                




    <div infinite-scroll="getMoreData()" >


    <span ng-repeat="x in filtered=(data | filter:filterByCategory)   | limitTo:totalDisplayed |filter:query">
             <div class="col-lg-3 col-sm-3 hero-feature text-center">

         <div class="thumbnail item">
                                        <a href="{{x.url}}" target="_blank" class="link-p" style="overflow: hidden; position: relative;">
                                            
                                                
                                    <img src="{{x.imageUrls[0].url}}" alt="" style="position: absolute; width: 250px; height: auto; max-width: none; max-height: none; left: -4px; top: 0px;"/>
                                            
                                </a>                            
                                <div class="caption prod-caption">
                                    <h4>
                                    <a class="link-p" style="overflow: hidden; position: relative;" ng-href="{{x.url}}" target=_blank>{{x.description}}</a></h4>
                                    <p></p>
                                    <p>
                                        </p><div class="btn-group">
                                         
                                   
                                               <a href="" class="btn btn-default">{{x.title}}</a></span>
                                            
                                        </div>
                                    <p></p>
                                </div>
                            </div>
             </div>
                </span>
         </span>
                    </span>
        </span>
    </div>
       <div class="col-lg-12 col-md-12 col-sm-12" >
              <div class="col-lg-12 col-sm-12 text-center">
                  <span class="title">Offer 
                </div>
                </div>
<div class="row">
 <div class="col-lg-4 col-md-4 col-sm-4" >
 <div data-SDID="415367034"  data-identifier="SnapdealAffiliateAds" data-height="300" data-width="250" ></div><script async id="snap_zxcvbnhg" src="https://affiliate-ads.snapdeal.com/affiliate/js/snapdealAffiliate.js"></script>
</div>
 <div class="col-lg-4 col-md-4 col-sm-4" >
  <div data-SDID="448009422"  data-identifier="SnapdealAffiliateAds" data-height="300" data-width="250" ></div><script async id="snap_zxcvbnhg" src="https://affiliate-ads.snapdeal.com/affiliate/js/snapdealAffiliate.js"></script>
</div>
 <div class="col-lg-4 col-md-4 col-sm-4" >
                  <div data-SDID="448009424"  data-identifier="SnapdealAffiliateAds" data-height="300" data-width="250" ></div><script async id="snap_zxcvbnhg" src="https://affiliate-ads.snapdeal.com/affiliate/js/snapdealAffiliate.js"></script>
 
</div>
</div>
 <div class="row">
 <div class="col-lg-4 col-md-4 col-sm-4" >
 <div data-SDID="448013906"  data-identifier="SnapdealAffiliateAds" data-height="300" data-width="250" ></div><script async id="snap_zxcvbnhg" src="https://affiliate-ads.snapdeal.com/affiliate/js/snapdealAffiliate.js"></script>
 </div>
 
 <div class="col-lg-4 col-md-4 col-sm-4" >
 <div data-SDID="448013808"  data-identifier="SnapdealAffiliateAds" data-height="300" data-width="250" ></div><script async id="snap_zxcvbnhg" src="https://affiliate-ads.snapdeal.com/affiliate/js/snapdealAffiliate.js"></script>
</div>
 <div class="col-lg-4 col-md-4 col-sm-4" >
 <div data-SDID="428773769"  data-identifier="SnapdealAffiliateAds" data-height="300" data-width="250" ></div><script async id="snap_zxcvbnhg" src="https://affiliate-ads.snapdeal.com/affiliate/js/snapdealAffiliate.js"></script>
      </div>           
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12" >
              <div class="col-lg-12 col-sm-12 text-center">
                  <span class="title">Offer 
                </div>
                </div>
                 <div class="row">
 <div class="col-lg-4 col-md-4 col-sm-4" >
 <script type="text/javascript" language="javascript">
      var aax_size='300x250';
      var aax_pubname = 'shoppingfunne-21';
      var aax_src='302';
    </script>
    <script type="text/javascript" language="javascript" src="http://c.amazon-adsystem.com/aax2/assoc.js"></script>
</div>
</div>