
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
       <title> Online Shopping Site in India for Men, Women & Kids</title>
       <meta name="keywords" content="Shopping funnel, India,http://www.Shoppingfunnel.com ,Shoppingfunnel.com,online Shopping, online saree  store, online saree mall, Buy saree , Buy discount saree , discount saree,women-fashion,sarees ,designer sarees, womens sarees ,women party wear designer sarees ,cotton sarees ,designer bollywood party wear sarees,online shopping funnel"/>  
      <link href="css/bootstrap.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <link href="css/style.css" rel="stylesheet">

        <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  </head>
  <body>
    <header>
        <div class="container">
            <div class="row">

                <!-- Logo -->
                    <div class="col-lg-4 col-md-3 hidden-sm hidden-xs">
                        <div class="well logo">
                            <a href="index.html">
                              <img src="images/logo.png" alt="" style="padding-top: 20px;width: 80%;"> </a>
                            <div></div>
                        </div>
                    </div>
                    <!-- End Logo -->

                    <!-- Search Form -->
                    <div class="col-lg-8 col-md-5 col-sm-7 col-xs-12">
                        <div class="well">
                           <div data-SDID="171204668"  data-identifier="SnapdealAffiliateAds" data-height="60" data-width="800" ></div><script id="snap_zxcvbnhg" async src="http://affiliate-ads.snapdeal.com/affiliate/js/snapdealAffiliate.js"></script>
                        </div>
                    </div>
                    <!-- End Search Form -->

                    <!-- Shopping Cart List -->
                   
                    <!-- End Shopping Cart List -->
            </div>
        </div>
      </header>

    <!-- Navigation -->
     <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- text logo on mobile view -->
                    <a class="navbar-brand visible-xs" href="index.html">Shopping Funnel</a>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li ><a href="index.html" class="active">Home</a></li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="men.html">men Clothing <span class="caret"></span></a>
                     <ul class="dropdown-menu">      
                               <li> <a href="men.html" >Men wear</a></li>
                               <li> <a href="men_Footware.html" >men Footwear</a> </li>
                                 <li> <a href="watches.html" >Watches</a> </li>
                                 <li> <a href="Sunglasses.html" >Sunglasses</a> </li>
                      </ul> 

                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="WomenClothing.html">Women Clothing<span class="caret"></span></a>
                          <ul class="dropdown-menu">      
                           <li> <a href="WomenClothing.html" >Saree</a></li>
                           <li> <a href="Women_dress.html" >Dress</a></li>
                           <li> <a href="Footwear.html" >Women Footwear</a></li>
                           <li> <a href="Beauty.html">Beauty Personal Care</a></li>                                                     
                         </ul>

                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="kid.html">Kid Clothing<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                                  <li> <a href="kid.html" >Gril wear</a></li>
                                  <li> <a href="Boy.html" >Boy wear</a></li>
                                  
                                </ul>
                        </li>
                         <li class="dropdown">
                          <a class="dropdown-toggle" data-toggle="dropdown" href="Mobile.html">Electonics <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                             <li>  <a href="Mobile.html" >Mobile</a></li> 
                                   <li>  <a href="Computer.html" >Computers & Peripherals</a></li> 
                         <li>    <a href="Bags.html" >Bags</a></li> 
                           <li>  <a href="Appliances.html" >Appliances</a></li> 
                                  
                                </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
      <!-- End Navigation -->

      <div class="container main-container">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">

              <!-- Categories -->
            
          <!-- End Categories -->

          <!-- Best Seller -->

                   <div class="col-lg-12 col-md-12 col-sm-6">
            <div class="no-padding">
                    <span class="title">Category</span>
                  </div>
                    

    <span ng-repeat="category in cate">
 
 <a href="men.html" class="list-group-item">Dresss</a>
 
    </span>
   
                   
          </div>

          <div class="col-lg-12 col-md-12 col-sm-6">
            <div class="no-padding">
                    <span class="title">BEST SELLER</span>
                  </div>
                    <div class="hero-feature hidden-sm">
                            <div class="thumbnail text-center">
                                   <div class="caption prod-caption">
                               <div data-SDID="1047677241"  data-identifier="SnapdealAffiliateAds" data-height="600" data-width="190" ></div><script async id="snap_zxcvbnhg" src="http://affiliate-ads.snapdeal.com/affiliate/js/snapdealAffiliate.js"></script>
                                </div>
                            </div>
                        </div>
                       <div class="hero-feature hidden-sm">
                            <div class="thumbnail text-center">
                                   <div class="caption prod-caption">
                              <div data-SDID="414046349"  data-identifier="SnapdealAffiliateAds" data-height="600" data-width="160" ></div><script async id="snap_zxcvbnhg" src="http://affiliate-ads.snapdeal.com/affiliate/js/snapdealAffiliate.js"></script>
                                </div>
                            </div>
                        </div>
                        <div class="hero-feature hidden-sm">
                            <div class="thumbnail text-center">
                                   <div class="caption prod-caption">
                              <div data-SDID="1047683523"  data-identifier="SnapdealAffiliateAds" data-height="600" data-width="160" ></div><script async id="snap_zxcvbnhg" src="http://affiliate-ads.snapdeal.com/affiliate/js/snapdealAffiliate.js"></script>
                                </div>
                            </div>
                        </div>
          </div>
          <!-- End Best Seller -->

            </div>

            <div class="clearfix visible-sm"></div>

        <!-- Catalogue -->
            <div class="col-lg-9 col-md-9 col-sm-12" ng-app="sampleapp" ng-controller="samplecontoller" ng-init="showData()">
              <div class="col-lg-12 col-sm-12">
                  <span class="title">PRODUCTS CATALOGUE</span>
                </div>
               

              
    <form class="form-inline">
  

              
       <div class="col-lg-9 col-md-9 col-sm-12">

  <input ng-model="query" type="text"
        placeholder="Filter by" autofocus class="form-control input-lg"/>
</div>

    </form>
                <div class="col-lg-12 col-md-12 col-sm-12">
                 <div class="text-center" ng-show="datalists.length">
           <ul class="pagination-controle pagination">
 <li>
  <button type="button" class="btn btn-primary" ng-disabled="curPage == 0"
 ng-click="curPage=curPage-1"> &lt; PREV</button>
 </li>
 <li>
 <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
 </li>
 <li>
 <button type="button" class="btn btn-primary"
 ng-disabled="curPage >= datalists.length/pageSize - 1"
 ng-click="curPage = curPage+1">NEXT &gt;</button>
 </li>
</ul>
          </div>
                <br/>
                <br/>
               </div>




 <span ng-repeat="x in datalists | pagination: curPage * pageSize | limitTo: pageSize | filter:query | orderBy: 'subCategoryName'">
  <div class="col-lg-4 col-sm-4 hero-feature text-center">
     <div class="thumbnail">
                                    <a href="{{x.link}}" target="_blank" class="link-p" style="overflow: hidden; position: relative;">
                                <img src="{{x.imageLink}}" alt="" style="position: absolute; width: 250px; height: auto; max-width: none; max-height: none; left: -4px; top: 0px;">
                            </a>                            
                            <div class="caption prod-caption">
                                <h4>
                                <a class="link-p" style="overflow: hidden; position: relative;" href='{{x.link}}' target=_blank>{{x.title}}</a></h4>
                                <p></p>
                                <p>
                                    </p><div class="btn-group">
                                        <a href="#" class="btn btn-default">Rs {{x.offerPrice}}</a>
                                        <a href="{{x.link}}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                                    </div>
                                <p></p>
                            </div>
                        </div>
   </div>
                        

  </span>






              
 <div class="text-center" ng-show="datalists.length">
           <ul class="pagination-controle pagination">
 <li>
  <button type="button" class="btn btn-primary" ng-disabled="curPage == 0"
 ng-click="curPage=curPage-1"> &lt; PREV</button>
 </li>
 <li>
 <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
 </li>
 <li>
 <button type="button" class="btn btn-primary"
 ng-disabled="curPage >= datalists.length/pageSize - 1"
 ng-click="curPage = curPage+1">NEXT &gt;</button>
 </li>
</ul>
          </div>
</div>
        



           
     



            </div>
            <!-- End Catalogue -->


          </div>
    </div>

    <footer>
            <div class="container">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="column">
                        <h4>Information</h4>
                        <ul>
                            <li><a href="about.html">About Us</a></li>
                           
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="column">
                        <h4>Categories</h4>
                        <ul>
                             <li><a href="WomenClothing.html">Saree</a></li>
                            <li><a href="Women_dress.html">Dress</a></li>
                             <li><a href="Footwear.html">Footwear</a></li>
                              <li><a href="men.html">Men wear</a></li>
                               <li><a href="Mobile.html">Mobile</a></li>
                                <li><a href="kid.html">kid wear</a></li>
                          
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="column">
                        <h4>Customer Service</h4>
                        <ul>
                            <li><a href="contact.html">Contact Us</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="column">
                        <h4>Follow Us</h4>
                        <ul class="social">
                            <li><a href="#">Google Plus</a></li>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">RSS Feed</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="navbar-inverse text-center copyright">
                Copyright © 2015 <a href="http://arnavwebtechnologies.com" target="_blank">Arnav web technologies</a> All right reserved
            </div>
        </footer>

      <a href="#top" class="back-top text-center" onclick="$('body,html').animate({scrollTop:0},500); return false">
        <i class="fa fa-angle-double-up"></i>
      </a>

      <script src="js/jquery.js"></script>
      <script src="js/bootstrap.js"></script>
      <script src="js/jquery.blImageCenter.js"></script>
      <script src="js/arnav.js"></script>
       <script>


var myapp = angular.module('sampleapp', [ ]);

myapp.controller('samplecontoller', function ($scope,$http) {

  
 $scope.showData = function( ){

 $scope.curPage = 0;
 $scope.pageSize = 30;
  


    

  $http.get("data/men_Footware.json")
  .success(function (response) {$scope.datalists = response.products;});  


     $scope.numberOfPages = function() {
        return Math.ceil($scope.datalists.length / $scope.pageSize);
      };
         
}

});

angular.module('sampleapp').filter('pagination', function()
{
 return function(input, start)
 {
  start = +start;
  return input.slice(start);
 };
});

 

</script>
      <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67526661-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
  </html>