
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Catalogue - Shopping funnel</title>
       <title> Online Shopping Site in India for Men, Women & Kids</title>
       <meta name="keywords" content="Shopping funnel, India,http://www.Shoppingfunnel.com ,www.Shoppingfunnel.com,Shopping funnel web technologies mumbai, Mumbai ,online Shopping, shop online, saree, saree ,online saree  store, online saree mall, Buy saree , Buy discount saree , discount saree,women-fashion,sarees ,designer sarees, womens sarees ,women party wear designer sarees ,cotton sarees ,designer bollywood party wear sarees"/>
      <link href="css/bootstrap.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <link href="css/style.css" rel="stylesheet">

        <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  </head>
  <body>
    <header>
        <div class="container">
            <div class="row">

                <!-- Logo -->
                    <div class="col-lg-4 col-md-3 hidden-sm hidden-xs">
                        <div class="well logo">
                            <a href="index.html">
                              <img src="images/logo.png" alt="" style="padding-top: 20px;width: 80%;"> </a>
                            <div></div>
                        </div>
                    </div>
                    <!-- End Logo -->

                    <!-- Search Form -->
                    <div class="col-lg-8 col-md-5 col-sm-7 col-xs-12">
                        <div class="well">
                           <div data-SDID="171204668"  data-identifier="SnapdealAffiliateAds" data-height="60" data-width="800" ></div><script id="snap_zxcvbnhg" async src="http://affiliate-ads.snapdeal.com/affiliate/js/snapdealAffiliate.js"></script>
                        </div>
                    </div>
                    <!-- End Search Form -->

                    <!-- Shopping Cart List -->
                   
                    <!-- End Shopping Cart List -->
            </div>
        </div>
      </header>

    <!-- Navigation -->
      <nav class="navbar navbar-inverse" role="navigation">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <!-- text logo on mobile view -->
                  <a class="navbar-brand visible-xs" href="index.html">ArnavOnline Shop</a>
              </div>
              <div class="collapse navbar-collapse navbar-ex1-collapse">
                  <ul class="nav navbar-nav">
                      <li><a href="index.html">Home</a></li>
                      <li><a href="Sarees.html" class="active">Sarees</a></li>
                      <li><a href="WomenClothing.html">Women Clothing</a></li>
                  </ul>
              </div>
          </div>
      </nav>
      <!-- End Navigation -->

      <div class="container main-container">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">

              <!-- Categories -->
            
          <!-- End Categories -->

          <!-- Best Seller -->
          <div class="col-lg-12 col-md-12 col-sm-6">
            <div class="no-padding">
                    <span class="title">BEST SELLER</span>
                  </div>
                 
           <div class="hero-feature hidden-sm">
                            <div class="thumbnail text-center">
                                   <div class="caption prod-caption">
                               <div data-SDID="1047677241"  data-identifier="SnapdealAffiliateAds" data-height="600" data-width="190" ></div><script async id="snap_zxcvbnhg" src="http://affiliate-ads.snapdeal.com/affiliate/js/snapdealAffiliate.js"></script>
                                </div>
                            </div>
                        </div>
                       <div class="hero-feature hidden-sm">
                            <div class="thumbnail text-center">
                                   <div class="caption prod-caption">
                              <div data-SDID="414046349"  data-identifier="SnapdealAffiliateAds" data-height="600" data-width="160" ></div><script async id="snap_zxcvbnhg" src="http://affiliate-ads.snapdeal.com/affiliate/js/snapdealAffiliate.js"></script>
                                </div>
                            </div>
                        </div>
                        <div class="hero-feature hidden-sm">
                            <div class="thumbnail text-center">
                                   <div class="caption prod-caption">
                              <div data-SDID="1047683523"  data-identifier="SnapdealAffiliateAds" data-height="600" data-width="160" ></div><script async id="snap_zxcvbnhg" src="http://affiliate-ads.snapdeal.com/affiliate/js/snapdealAffiliate.js"></script>
                                </div>
                            </div>
                        </div>

          </div>
          <!-- End Best Seller -->

            </div>

            <div class="clearfix visible-sm"></div>

        <!-- Catalogue -->
            <div class="col-lg-9 col-md-9 col-sm-12" ng-app="sampleapp" ng-controller="samplecontoller" ng-init="showData()">
              <div class="col-lg-12 col-sm-12">
                  <span class="title">PRODUCTS CATALOGUE</span>
                </div>
               

              <form class="form-inline">
  

              
       <div class="col-lg-9 col-md-9 col-sm-12">

  <input ng-model="query" type="text"
        placeholder="Filter by" autofocus class="form-control input-lg"/>
</div>

    </form>
               <div class="col-lg-9 col-md-9 col-sm-12">
                <br/>
                <br/>
               </div>
    




 <span ng-repeat="x in datalists | pagination: curPage * pageSize | limitTo: pageSize | filter:query | orderBy: 'id'">
  <div class="col-lg-4 col-sm-4 hero-feature text-center">
     <div class="thumbnail">
                                    <a href="{{x.link}}" target="_blank" class="link-p" style="overflow: hidden; position: relative;">
                                <img src="{{x.imageLink}}" alt="" style="position: absolute; width: 250px; height: auto; max-width: none; max-height: none; left: -4px; top: 0px;">
                            </a>                            
                            <div class="caption prod-caption">
                                <h4>
                                <a class="link-p" style="overflow: hidden; position: relative;" href='{{x.link}}' target=_blank>{{x.title}}</a></h4>
                                <p></p>
                                <p>
                                    </p><div class="btn-group">
                                        
                                        <a href="{{x.link}}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                                    </div>
                                <p></p>
                            </div>
                        </div>
   </div>
                        

  </span>






              
 <div class="text-center" ng-show="datalists.length">
           <ul class="pagination-controle pagination">
 <li>
  <button type="button" class="btn btn-primary" ng-disabled="curPage == 0"
 ng-click="curPage=curPage-1"> &lt; PREV</button>
 </li>
 <li>
 <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
 </li>
 <li>
 <button type="button" class="btn btn-primary"
 ng-disabled="curPage >= datalists.length/pageSize - 1"
 ng-click="curPage = curPage+1">NEXT &gt;</button>
 </li>
</ul>
          </div>
</div>
        



           
     



            </div>
            <!-- End Catalogue -->


          </div>
    </div>

    <footer>
            <div class="container">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="column">
                        <h4>Information</h4>
                        <ul>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="typography.html">Policy Privacy</a></li>
                            <li><a href="typography.html">Terms and Conditions</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="column">
                        <h4>Categories</h4>
                        <ul>
                            <li><a href="Sarees.html">Saree</a></li>
                            <li><a href="WomenClothing.html">Dress</a></li>
                          
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="column">
                        <h4>Customer Service</h4>
                        <ul>
                            <li><a href="contact.html">Contact Us</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="column">
                        <h4>Follow Us</h4>
                        <ul class="social">
                            <li><a href="#">Google Plus</a></li>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">RSS Feed</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="navbar-inverse text-center copyright">
                Copyright © 2015 <a href="http://arnavwebtechnologies.com" target="_blank">Arnav web technologies</a> All right reserved
            </div>
        </footer>

      <a href="#top" class="back-top text-center" onclick="$('body,html').animate({scrollTop:0},500); return false">
        <i class="fa fa-angle-double-up"></i>
      </a>

      <script src="js/jquery.js"></script>
      <script src="js/bootstrap.js"></script>
      <script src="js/jquery.blImageCenter.js"></script>
      <script src="js/arnav.js"></script>
       <script>


var myapp = angular.module('sampleapp', [ ]);

myapp.controller('samplecontoller', function ($scope) {

  
 $scope.showData = function( ){

 $scope.curPage = 0;
 $scope.pageSize = 12;
  


     $scope.datalists = [
       {  
         "id":646650596364,
         "title":"Geeta Fashions Blue Printed Georgette Pretty Saree With Blouse Piece",
         "description":"Colour : Blue fabric : Bhagalpuri Silk Work : Printed Brand : Geeta Fashions SKU Code : GS11895_S6 Set Contents : With Blouse Piece ",
         "brand":"Geeta Fashions",
         "link":"http://www.snapdeal.com/product/geeta-fashions-blue-printed-georgette/646650596364?utm_source=aff_prog&utm_campaign=afts&offer_id=17&aff_id=70203",
         "imageLink":"http://n1.sdlcdn.com/imgs/a/y/i/Geeta-Fashions-Blue-Printed-Georgette-SDL200520313-1-d5a29.jpg",
         "subCategoryId":176,
         "subCategoryName":"Sarees",
         "categoryId":691,
         "categoryName":"Women's Ethnic Wear",
         "mrp":999,
         "offerPrice":339,
         "availability":"in stock"
      },
      {  
         "id":671036699126,
         "title":"Sai Fab Royal Blue Designer Embroidered Pure Georgette Anarkali Dress Material",
         "description":"Colour : Blue fabric : Pure Georgette SKU Code : GEI041 ",
         "brand":"Sai Fab",
         "link":"http://www.snapdeal.com/product/sai-fab-royal-blue-designer/671036699126?utm_source=aff_prog&utm_campaign=afts&offer_id=17&aff_id=70203",
         "imageLink":"http://n1.sdlcdn.com/imgs/a/y/6/Sai-Fab-Royal-Blue-Designer-SDL365640041-1-e0a18.jpg",
         "subCategoryId":179,
         "subCategoryName":"Dress Material",
         "categoryId":691,
         "categoryName":"Women's Ethnic Wear",
         "mrp":8600,
         "offerPrice":822,
         "availability":"in stock"
      },
      {  
         "id":1940703713,
         "title":"Nj Fabric Blue Party Wear Saree",
         "description":"Color : Blue Fabric : Pure Georgette Work : Border Work Brand : Nj Fabric SKU Code : NJS20 Set Contents : With Blouse Piece ",
         "brand":"NJ FABRIC",
         "link":"http://www.snapdeal.com/product/nj-fabric-blue-party-wear/1940703713?utm_source=aff_prog&utm_campaign=afts&offer_id=17&aff_id=70203",
         "imageLink":"http://n1.sdlcdn.com/imgs/a/r/t/Nj-Fabric-Blue-Party-Wear-SDL859319956-1-c2136.jpg",
         "subCategoryId":176,
         "subCategoryName":"Sarees",
         "categoryId":691,
         "categoryName":"Women's Ethnic Wear",
         "mrp":3500,
         "offerPrice":387,
         "availability":"in stock"
      },
       {  
         "id":654951721219,
         "title":"Ravi Designer Sarees Pink Pure Chiffon Saree",
         "description":"Colour : Pink fabric : Pure Chiffon Work : Embroidered Brand : Ravi Designer Sarees SKU Code : RDSHNSKRZZY2D1010 Set Contents : With Blouse Piece ",
         "brand":"Ravi Designer Sarees",
         "link":"http://www.snapdeal.com/product/ravi-designer-sarees-pink-pure/654951721219?utm_source=aff_prog&utm_campaign=afts&offer_id=17&aff_id=70203",
         "imageLink":"http://n1.sdlcdn.com/imgs/a/1/w/Ravi-Designer-Sarees-Pink-Pure-SDL818258410-1-8a5c7.jpg",
         "subCategoryId":176,
         "subCategoryName":"Sarees",
         "categoryId":691,
         "categoryName":"Women's Ethnic Wear",
         "mrp":483,
         "offerPrice":380,
         "availability":"in stock"
      },
      {  
         "id":311706485,
         "title":"Sree Impex Blue Brocade Velvet Saree With Blouse Piece",
         "description":"Color : Blue Fabric : Velvet Work : Brocade Brand : Sree Impex SKU Code : SREE-SR-11 Set Contents : With Blouse Piece ",
         "brand":"Sree Impex",
         "link":"http://www.snapdeal.com/product/sree-impex-blue-brocade-velvet/311706485?utm_source=aff_prog&utm_campaign=afts&offer_id=17&aff_id=70203",
         "imageLink":"http://n1.sdlcdn.com/imgs/a/p/n/Sree-Impex-Blue-Brocade-Velvet-SDL291799132-1-99880.jpg",
         "subCategoryId":176,
         "subCategoryName":"Sarees",
         "categoryId":691,
         "categoryName":"Women's Ethnic Wear",
         "mrp":1000,
         "offerPrice":552,
         "availability":"in stock"
      },
      {  
         "id":622965100762,
         "title":"Ishin Prints Printed Bhagalpuri Silk Saree With Blouse Piece",
         "description":"Colour : Multicolour fabric : Bhagalpuri Silk Work : Printed Brand : Ishin Prints SKU Code : BCVIP-12501 Set Contents : With Blouse Piece Disclaimer : Product color may slightly vary due to photographic lighting sources or your monitor settings. ",
         "brand":"ISHIN Prints",
         "link":"http://www.snapdeal.com/product/ishin-prints-printed-bhagalpuri-silk/622965100762?utm_source=aff_prog&utm_campaign=afts&offer_id=17&aff_id=70203",
         "imageLink":"http://n1.sdlcdn.com/imgs/a/y/1/Ishin-Prints-Printed-Bhagalpuri-Silk-SDL997560856-1-3c0db.jpg",
         "subCategoryId":176,
         "subCategoryName":"Sarees",
         "categoryId":691,
         "categoryName":"Women's Ethnic Wear",
         "mrp":999,
         "offerPrice":356,
         "availability":"in stock"
      },
      {  
         "id":677246478993,
         "title":"Shubh Creation Pink Embroidered Anarkali Dress Material",
         "description":"Colour : Pink fabric : Net SKU Code : 1746pink ",
         "brand":"shubh creation",
         "link":"http://www.snapdeal.com/product/shubh-creation-pink-embroidered-anarkali/677246478993?utm_source=aff_prog&utm_campaign=afts&offer_id=17&aff_id=70203",
         "imageLink":"http://n1.sdlcdn.com/imgs/a/t/i/Shubh-Creation-Pink-Embroidered-Anarkali-SDL910853073-1-09893.jpg",
         "subCategoryId":179,
         "subCategoryName":"Dress Material",
         "categoryId":691,
         "categoryName":"Women's Ethnic Wear",
         "mrp":1599,
         "offerPrice":703,
         "availability":"in stock"
      },
      {  
         "id":665808026947,
         "title":"Dreamz Pure Georgette Embroidered Anarkali Multicolour Dress Material",
         "description":"Colour : Multi fabric : Pure Georgette SKU Code : sl02 ",
         "brand":"Dreamz",
         "link":"http://www.snapdeal.com/product/dreamz-pure-georgette-embroidered-anarkali/665808026947?utm_source=aff_prog&utm_campaign=afts&offer_id=17&aff_id=70203",
         "imageLink":"http://n1.sdlcdn.com/imgs/a/s/0/Dreamz-Pure-Georgette-Embroidered-Anarkali-SDL266093256-1-dd451.jpg",
         "subCategoryId":179,
         "subCategoryName":"Dress Material",
         "categoryId":691,
         "categoryName":"Women's Ethnic Wear",
         "mrp":1299,
         "offerPrice":749,
         "availability":"in stock"
      },
      {  
         "id":640270474517,
         "title":"Exclusive Designer Saree Brown Faux Georgette Saree",
         "description":"Colour : Brown fabric : Faux Georgette Work : Embroidered Brand : Exclusive Designer Saree SKU Code : SD_Work_2002 Set Contents : With Blouse Piece Disclaimer : The Product Colour May Slightly Vary Due To Moniter Settings And Photoshoot Effects ",
         "brand":"Exclusive Designer Saree",
         "link":"http://www.snapdeal.com/product/exclusive-designer-saree-brown-faux/640270474517?utm_source=aff_prog&utm_campaign=afts&offer_id=17&aff_id=70203",
         "imageLink":"http://n1.sdlcdn.com/imgs/a/1/5/Exclusive-Designer-Saree-Brown-Faux-SDL677744866-1-61821.jpg",
         "subCategoryId":176,
         "subCategoryName":"Sarees",
         "categoryId":691,
         "categoryName":"Women's Ethnic Wear",
         "mrp":2999,
         "offerPrice":729,
         "availability":"in stock"
      },
      {  
         "id":1424402337,
         "title":"Ruddhi Pink Border Work Chiffon Designer Saree With Blouse Piece",
         "description":"Color : Pink Fabric : Pure Chiffon Work : Border Work Disclaimer : The color of the product may vary on the website from original one due to diifrent shaded threads of the industry. Brand : Ruddhi SKU Code : rud849 Set Contents : With Blouse Piece ",
         "brand":"Ruddhi",
         "link":"http://www.snapdeal.com/product/ruddhi-pink-border-work-chiffon/1424402337?utm_source=aff_prog&utm_campaign=afts&offer_id=17&aff_id=70203",
         "imageLink":"http://n1.sdlcdn.com/imgs/a/r/p/Ruddhi-Pink-Border-Work-Chiffon-SDL419677294-1-bef5a.jpg",
         "subCategoryId":176,
         "subCategoryName":"Sarees",
         "categoryId":691,
         "categoryName":"Women's Ethnic Wear",
         "mrp":2500,
         "offerPrice":528,
         "availability":"in stock"
      },
      {  
         "id":1307251235,
         "title":"Favola Multi Mysore Silk Art Silk  Sarees",
         "description":"Colour : Blue Fabric : Georgette Work : Printed Brand : Preminternational Sku Code : STY-8642 Set Contents : With Blouse Piece ",
         "brand":"Preminternational",
         "link":"http://www.snapdeal.com/product/favola-multi-mysore-silk-art/1307251235?utm_source=aff_prog&utm_campaign=afts&offer_id=17&aff_id=70203",
         "imageLink":"http://n1.sdlcdn.com/imgs/a/v/w/Preminternational-Blue-Georgette-Printed-Sarees-SDL957097741-1-fb5c1.jpg",
         "subCategoryId":176,
         "subCategoryName":"Sarees",
         "categoryId":691,
         "categoryName":"Women's Ethnic Wear",
         "mrp":799,
         "offerPrice":238,
         "availability":"in stock"
      },
      {  
         "id":630537284374,
         "title":"Prabhat Silk Mills Multi Faux Georgette Border Work Saree With Blouse Piece",
         "description":"Colour : Multi fabric : Faux Georgette Work : Border Work Brand : Prabhat Silk Mills SKU Code : PSM0190 Set Contents : With Blouse Piece ",
         "brand":"Prabhat Silk Mills",
         "link":"http://www.snapdeal.com/product/prabhat-silk-mills-multi-faux/630537284374?utm_source=aff_prog&utm_campaign=afts&offer_id=17&aff_id=70203",
         "imageLink":"http://n1.sdlcdn.com/imgs/a/s/2/Prabhat-Silk-Mills-Multi-Faux-SDL645125351-1-35cf8.jpg",
         "subCategoryId":176,
         "subCategoryName":"Sarees",
         "categoryId":691,
         "categoryName":"Women's Ethnic Wear",
         "mrp":1599,
         "offerPrice":381,
         "availability":"in stock"
      },
      {  
         "id":568973601,
         "title":"Goyal Silk Mills Multicolour Border Work Chanderi Saree With Blouse Piece",
         "description":"Color : Multi Fabric : Chanderi Work : Border Work Disclaimer : Product colour may slightly vary due to photographic lighting sources or your monitor settings Brand : Goyal Silk Mills SKU Code : GSM_925-RV Set Contents : With Blouse Piece ",
         "brand":"Goyal Silk Mills",
         "link":"http://www.snapdeal.com/product/goyal-silk-mills-multicolour-border/568973601?utm_source=aff_prog&utm_campaign=afts&offer_id=17&aff_id=70203",
         "imageLink":"http://n1.sdlcdn.com/imgs/a/p/t/Goyal-Silk-Mills-Multicolour-Border-SDL873306818-1-1aaf2.jpg",
         "subCategoryId":176,
         "subCategoryName":"Sarees",
         "categoryId":691,
         "categoryName":"Women's Ethnic Wear",
         "mrp":1499,
         "offerPrice":490,
         "availability":"in stock"
      },
      {  
         "id":644718105816,
         "title":"Shree Ambey Designer Sarees Orange Sanganeri Art Silk Printed Saree With Blouse Piece",
         "description":"Colour : Orange fabric : Art Silk Work : Printed Brand : Shree Ambey Designer Sarees SKU Code : SAS191012501 Set Contents : With Blouse Piece ",
         "brand":"Shree Ambey Designer Sarees",
         "link":"http://www.snapdeal.com/product/shree-ambey-designer-sarees-orange/644718105816?utm_source=aff_prog&utm_campaign=afts&offer_id=17&aff_id=70203",
         "imageLink":"http://n1.sdlcdn.com/imgs/a/x/n/Shree-Ambey-Designer-Sarees-Orange-SDL776309367-1-6a4be.jpg",
         "subCategoryId":176,
         "subCategoryName":"Sarees",
         "categoryId":691,
         "categoryName":"Women's Ethnic Wear",
         "mrp":888,
         "offerPrice":367,
         "availability":"in stock"
      },
      {  
         "id":1239283759,
         "title":"Limozine Creation Multicolor Printed Faux Georgette Saree With Blouse Piece",
         "description":"Colour : Multi fabric : Faux Georgette Work : Printed Brand : limozine creation SKU Code : limozine2027 Set Contents : With Blouse Piece Disclaimer : product colour may slightly vary ",
         "brand":"limozine creation",
         "link":"http://www.snapdeal.com/product/limozine-creation-multicolor-printed-faux/1239283759?utm_source=aff_prog&utm_campaign=afts&offer_id=17&aff_id=70203",
         "imageLink":"http://n1.sdlcdn.com/imgs/a/s/f/Limozine-Creation-Multicolor-Printed-Faux-SDL393436469-1-f5efe.jpg",
         "subCategoryId":176,
         "subCategoryName":"Sarees",
         "categoryId":691,
         "categoryName":"Women's Ethnic Wear",
         "mrp":2599,
         "offerPrice":899,
         "availability":"in stock"
      },
      {  
         "id":677551791571,
         "title":"Fashion Store Beige Embroidered Faux Georgette Anarkali Dress Material",
         "description":"Colour : Beige fabric : Faux Georgette Disclaimer : The Shades Of Original Fabric May Vary From The Colors Shown In Image ,due To Your Screen Resolution, And The Effects And Lighting Sources Used In Photoshoot SKU Code : SKYBAPU3001 ",
         "brand":"Fashion Store",
         "link":"http://www.snapdeal.com/product/fashion-store-beige-embroidered-faux/677551791571?utm_source=aff_prog&utm_campaign=afts&offer_id=17&aff_id=70203",
         "imageLink":"http://n1.sdlcdn.com/imgs/a/u/a/Fashion-Store-Beige-Embroidered-Faux-SDL593251038-1-d40d2.jpg",
         "subCategoryId":179,
         "subCategoryName":"Dress Material",
         "categoryId":691,
         "categoryName":"Women's Ethnic Wear",
         "mrp":1900,
         "offerPrice":651,
         "availability":"in stock"
      },
      {  
         "id":669618221748,
         "title":"Sukanyaa Black Cotton Kurti",
         "description":"Colour : Black fabric : Cotton Disclaimer : Product Color May Very Due To Photographiclighting Sources Or Your Moniter Setting SKU Code : SK0030_1 ",
         "brand":"SUKANYAA",
         "link":"http://www.snapdeal.com/product/sukanyaa-black-cotton-kurti/669618221748?utm_source=aff_prog&utm_campaign=afts&offer_id=17&aff_id=70203",
         "imageLink":"http://n1.sdlcdn.com/imgs/a/0/u/Sukanyaa-Black-Cotton-Kurti-SDL883491396-1-6101f.jpg",
         "subCategoryId":178,
         "subCategoryName":"Kurtis",
         "categoryId":691,
         "categoryName":"Women's Ethnic Wear",
         "mrp":1999,
         "offerPrice":423,
         "availability":"in stock"
      },
      {  
         "id":633357730241,
         "title":"Pvr Fashions Blue Border Work Cotton Saree With Blouse Piece",
         "description":"Colour : Blue fabric : Cotton Work : Border Work Brand : Pvr Fashions SKU Code : PVR_LS11 Set Contents : With Blouse Piece Disclaimer : Product colour may vary due to monitor settings ",
         "brand":"Pvr Fashions",
         "link":"http://www.snapdeal.com/product/pvr-fashions-blue-border-work/633357730241?utm_source=aff_prog&utm_campaign=afts&offer_id=17&aff_id=70203",
         "imageLink":"http://n1.sdlcdn.com/imgs/a/z/c/Pvr-Fashions-Blue-Border-Work-SDL240959328-1-60cc1.jpg",
         "subCategoryId":176,
         "subCategoryName":"Sarees",
         "categoryId":691,
         "categoryName":"Women's Ethnic Wear",
         "mrp":599,
         "offerPrice":269,
         "availability":"in stock"
      },
      {  
         "id":642585949395,
         "title":"Fashion Designer Sarees Black Faux Georgette Saree",
         "description":"Work : Embroidered Brand : Fashion Designer Sarees SKU Code : FDHNSDIVNBLK1004 Set Contents : With Blouse Piece ",
         "brand":"Fashion Designer Sarees",
         "link":"http://www.snapdeal.com/product/fashion-designer-sarees-black-faux/642585949395?utm_source=aff_prog&utm_campaign=afts&offer_id=17&aff_id=70203",
         "imageLink":"http://n1.sdlcdn.com/imgs/a/1/r/Fashion-Designer-Sarees-Black-Faux-SDL509656655-1-1f36d.jpg",
         "subCategoryId":176,
         "subCategoryName":"Sarees",
         "categoryId":691,
         "categoryName":"Women's Ethnic Wear",
         "mrp":1500,
         "offerPrice":637,
         "availability":"in stock"
      },
       {  
         "id":648963148722,
         "title":"Meera Creations Peachpuff Cotton Kurti",
         "description":"Colour : PeachPuff fabric : Cotton Disclaimer : Premium quality product from the house of Meera Creations. Product color may slightly vary due to photographic lighting sources or your monitor settings. SKU Code : Peach.L ",
         "brand":"Meera Creations",
         "link":"http://www.snapdeal.com/product/meera-creations-peachpuff-cotton-kurti/648963148722?utm_source=aff_prog&utm_campaign=afts&offer_id=17&aff_id=70203",
         "imageLink":"http://n1.sdlcdn.com/imgs/a/4/c/Meera-Creations-PeachPuff-Cotton-Kurti-SDL631913646-1-57e53.jpg",
         "subCategoryId":178,
         "subCategoryName":"Kurtis",
         "categoryId":691,
         "categoryName":"Women's Ethnic Wear",
         "mrp":999,
         "offerPrice":439,
         "availability":"in stock"
      },
      {  
         "id":626027012954,
         "title":"Shree Ambey Designer Sarees Beige Sanganeri Art Silk Printed Saree With Blouse Piece",
         "description":"Colour : Beige fabric : Art Silk Work : Printed Brand : Shree Ambey Designer Sarees SKU Code : SAS191012546 Set Contents : With Blouse Piece ",
         "brand":"Shree Ambey Designer Sarees",
         "link":"http://www.snapdeal.com/product/shree-ambey-designer-sarees-beige/626027012954?utm_source=aff_prog&utm_campaign=afts&offer_id=17&aff_id=70203",
         "imageLink":"http://n1.sdlcdn.com/imgs/a/x/n/Shree-Ambey-Designer-Sarees-Beige-SDL527890807-1-46f7d.jpg",
         "subCategoryId":176,
         "subCategoryName":"Sarees",
         "categoryId":691,
         "categoryName":"Women's Ethnic Wear",
         "mrp":799,
         "offerPrice":375,
         "availability":"in stock"
      }

]



     $scope.numberOfPages = function() {
        return Math.ceil($scope.datalists.length / $scope.pageSize);
      };
         
}

});

angular.module('sampleapp').filter('pagination', function()
{
 return function(input, start)
 {
  start = +start;
  return input.slice(start);
 };
});

 

</script>
      <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67526661-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
  </html>