<div class="modal-header">
            <h3 class="modal-title" id="modal-title">Search</h3>
        </div>
        <div class="modal-body" id="modal-body">
        <div data-SDID="171204668"  data-identifier="SnapdealAffiliateAds" data-height="60" data-width="800" ></div><script id="snap_zxcvbnhg" async src="https://affiliate-ads.snapdeal.com/affiliate/js/snapdealAffiliate.js"></script>
                  </div>


 <div class="row">
 <div class="col-lg-4 col-md-4 col-sm-4" >
 <div data-SDID="415367034"  data-identifier="SnapdealAffiliateAds" data-height="300" data-width="250" ></div><script async id="snap_zxcvbnhg" src="https://affiliate-ads.snapdeal.com/affiliate/js/snapdealAffiliate.js"></script>
</div>
 <div class="col-lg-4 col-md-4 col-sm-4" >
  <div data-SDID="448009422"  data-identifier="SnapdealAffiliateAds" data-height="300" data-width="250" ></div><script async id="snap_zxcvbnhg" src="https://affiliate-ads.snapdeal.com/affiliate/js/snapdealAffiliate.js"></script>
</div>
 <div class="col-lg-4 col-md-4 col-sm-4" >
                  <div data-SDID="448009424"  data-identifier="SnapdealAffiliateAds" data-height="300" data-width="250" ></div><script async id="snap_zxcvbnhg" src="https://affiliate-ads.snapdeal.com/affiliate/js/snapdealAffiliate.js"></script>
 
</div>
</div>
 <div class="row">
 <div class="col-lg-4 col-md-4 col-sm-4" >
 <div data-SDID="448013906"  data-identifier="SnapdealAffiliateAds" data-height="300" data-width="250" ></div><script async id="snap_zxcvbnhg" src="https://affiliate-ads.snapdeal.com/affiliate/js/snapdealAffiliate.js"></script>
 </div>
 
 <div class="col-lg-4 col-md-4 col-sm-4" >
 <div data-SDID="448013808"  data-identifier="SnapdealAffiliateAds" data-height="300" data-width="250" ></div><script async id="snap_zxcvbnhg" src="https://affiliate-ads.snapdeal.com/affiliate/js/snapdealAffiliate.js"></script>
</div>
 <div class="col-lg-4 col-md-4 col-sm-4" >
 <div data-SDID="428773769"  data-identifier="SnapdealAffiliateAds" data-height="300" data-width="250" ></div><script async id="snap_zxcvbnhg" src="https://affiliate-ads.snapdeal.com/affiliate/js/snapdealAffiliate.js"></script>
      </div>           
      </div>
        <div class="modal-footer">
            <button class="ton" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>