<div class="modal-header">
            <h3 class="modal-title" id="modal-title">Search</h3>
        </div>
        <div class="modal-body" id="modal-body">
        <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12" >
        <div data-SDID="171204668"  data-identifier="SnapdealAffiliateAds" data-height="60" data-width="800" ></div><script id="snap_zxcvbnhg" async src="https://affiliate-ads.snapdeal.com/affiliate/js/snapdealAffiliate.js"></script>
                  </div>
</div>
 <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12" >
                <div data-WRID="WRID-146117016510750682" data-widgetType="searchBar" data-class="affiliateAdsByFlipkart" height="55" width="660" ></div><script async src="//affiliate.flipkart.com/affiliate/widgets/FKAffiliateWidgets.js"></script>
</div>
</div>
 
        <div class="modal-footer">
            <button class="ton" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>